# Cache
**/__pycache__

# Folders
data/
figures/
doc/build/
doc/source/code_doc/
shell_model_experiments/experimental/turbulence_music/sounds

# File types
**/*.code-workspace

# Specific files
test_script.py
test_struct.py